.card-media {
  background-color: #999999; 
  width: 100px;
}

.frame {
  margin: 8px;
}

md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
  
.avatar-left {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 16px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.avatar-right {
  -webkit-box-ordinal-group: 3;
  order: 2;
  margin: 0 0 0 16px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.bubble-left {
  position: relative;
  padding: 8px;
  background-color: #eceff1;
  border: 1px solid #dcdfe1;
}
.bubble-left:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  right: auto;
  top: -1px;
  bottom: auto;
  border: 8px solid;
  border-color: #dcdfe1 transparent transparent transparent;
  box-sizing: border-box;
}
.bubble-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -7px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 11px solid;
  border-color: #eceff1 transparent transparent transparent;
  box-sizing: border-box;
}
.time {
  font-size: 11px;
  margin-top: 8px;
}
.secondary-text, [md-theme="default"] .icon {
  color: rgba(0,0,0,0.54);
}

.bubble-right {
  background-color: #E8F5E9;
  border: 1px solid #DFEBE0;
  -webkit-box-ordinal-group: 2;
  order: 1;
  position: relative;
  padding: 8px;
}
.bubble-right:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -9px;
  left: auto;
  top: auto;
  bottom: -1px;
  border: 8px solid;
  border-color: transparent transparent #DFEBE0 transparent;
  box-sizing: border-box;
}
.bubble-right:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: -7px;
  left: auto;
  top: auto;
  bottom: 0px;
  border: 8px solid;
  border-color: transparent transparent #E8F5E9 transparent;
  box-sizing: border-box;
}
.message-user {
  -webkit-box-align: end;
  align-items: flex-end;
}

.streamline {
  margin-bottom: 16px;
  border-color: #000000;
  border-left: 1px solid #000000;
  position: relative;        
}

.sl-item {
  position: relative;
  padding-bottom: 1px;
  border-color: #000000;
}
.sl-item:before {
  display: table;
  content: " ";
}

.sl-item:after {
  display: table;
  content: " ";
  top: 0;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11px;
  height: 11px;
  margin-left: -8px;
  background-color: #00f;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  content: '';
}

.sl-content {
  padding-bottom: 10px;
  margin-top: -1px;
  margin-left: 24px;
}
