<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/google-fonts/roboto.css">
    <link rel="stylesheet" href="bower_components/material-icons/material-icons.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app.css">

  </head>
  <body ng-app="app" ng-cloak layout="row">
    <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-xs')"
      md-disable-backdrop
      md-whiteframe="4"
      layout="column"
      md-theme="ttoDark"
    >
      <md-toolbar class="md-tall" flex>
				<md-icon style="color:white; font-size:128px">account_circle</md-icon>
      </md-toolbar>
			<md-content flex>
				<md-list ng-controller="leftNavCtrl as leftNav" flex>
					<md-item-list ng-repeat="menu in leftNav.menuList">
						<md-button class="md-icon" style="width:95%; text-align:left; !important;">
							<md-icon>{{menu.icon}}</md-icon>
							{{menu.name}}
						</md-button>
					</md-item-list>
				</md-list>
			</md-content>
    </md-sidenav>
    
    <div layout="column" flex>
      <md-toolbar class="md-hue-2" layout="row" layout-align="center center" ng-controller="toolbarCtrl as vm">
        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('left')" hide-gt-xs>
          <md-icon>menu</md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('comment')">
          <md-icon>comment</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="vm.toggleSidenav('right')" hide-gt-md>
          <md-icon>settings</md-icon>
        </md-button>
      </md-toolbar>
      <md-content ng-controller="pageCtrl as page">
        <md-grid-list md-cols-gt-md="3" md-cols-md="3" md-cols-sm="2" md-cols-xs="1" md-gutter="8px" md-row-height="5:3">
          <md-grid-tile md-colspan="2" md-colspan-xs="1" md-rowspan="2" md-rowspan-xs="1" class="red">
            <md-grid-tile-footer>
              <h3>Tile default</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="green" ng-repeat="card in page.cardList">
            <md-grid-tile-footer>
              <h3>Tile</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
         </md-grid-list>
      </md-content>
      <md-button class="md-fab md-fab-bottom-right">
        <md-icon>send</md-icon>
      </md-button>
    </div>

    <md-sidenav
      class="md-sidenav-right"
      md-component-id="right"
      md-is-locked-open="$mdMedia('gt-md')"
      md-disable-backdrop
      md-whiteframe="4"
      layout="column"
    >
      <md-toolbar class="md-tall">
				<md-icon style="color:white; font-size:128px">settings</md-icon>
      </md-toolbar>
      <md-content flex>
			</md-content>
    </md-sidenav>
  
    <md-sidenav
      class="md-sidenav-right"
      md-component-id="comment"
      md-disable-backdrop
      md-whiteframe="4"
      layout="column"
			md-theme="ttoOrange"
    >
      <md-toolbar class="md-tall">
				<md-icon style="color:white; font-size:128px">comment</md-icon>
      </md-toolbar>
      <md-content flex>
			</md-content>
			<md-divider></md-divider>
			<form layout="row" layout-align="start center">
				<textarea flex style="border:0"></textarea>
				<md-button class="md-icon-button">
					<md-icon>comment</md-icon>
				</md-button>
			</form>
    </md-sidenav>
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/angular-new-router/router.es5.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>